<div
  class="container"
  fxLayout="row wrap"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div fxFlex="40" fxLayout="column" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ dish.image }}" alt="{{ dish.name }}" />
      <mat-card-content>
        <p>{{ dish.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>

        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxLayout="column" *ngIf="dish">
    <h3>Comments</h3>

    <mat-list>
      <mat-list-item *ngFor="let comment of dish.comments">
        <p matListItemLine>{{ comment.comment }}</p>
        <p matListItemLine>{{ comment.rating }} stars</p>
        <p matListItemLine>-- {{ comment.author }} {{ comment.date | date }}</p>
      </mat-list-item>
    </mat-list>

    <div *ngIf="commentForm.status.toString() === 'VALID'">
      <p>{{ commentForm.value.comment }}</p>
      <p>{{ commentForm.value.rating }} stars</p>
      <p>-- {{ commentForm.value.author }}</p>
    </div>

    <form
      novalidate
      [formGroup]="commentForm"
      #fform="ngForm"
      (ngSubmit)="onSubmit()"
      fxLayout="column"
    >
      <mat-form-field class="full-width">
        <input
          matInput
          formControlName="author"
          placeholder="Name"
          type="text"
          required
        />
        <mat-error *ngIf="commentFormError.author">{{
          commentFormError.author
        }}</mat-error>
      </mat-form-field>

      <mat-slider
        min="1"
        max="5"
        step="1"
        discrete="true"
        showTickMarks="true"
        color="accent"
      >
        <input matSliderThumb step="1" formControlName="rating" />
      </mat-slider>
      <mat-form-field class="full-width">
        <textarea
          matInput
          rows="10"
          formControlName="comment"
          placeholder="Comment"
          type="text"
          required
        ></textarea>

        <mat-error *ngIf="commentFormError.comment">{{
          commentFormError.comment
        }}</mat-error>
      </mat-form-field>
      <button
        [disabled]="fform.form.invalid"
        type="submit"
        mat-button
        class="background-primary text-floral-white"
      >
        Submit
      </button>
    </form>
  </div>

  <div [hidden]="dish || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{ errMess }}</h4>
  </div>
</div>
