@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* some basic resets  */

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 20px;
  display: flex;
}
